				body {

 					background-color: #60f2ef;
 					padding-left: 20px;

 				}h2{
 					padding-left: 10px;
 				}


 				#tdContact{
 					text-align:right;
 				}

 				#tabel1{
 					width: 1175px;
 				}

 				#contact{
 					background-color: #6b89f4;
 					color: #ffffff;
 					border-radius: 5px;
 					height: 35px;
 					outline: none;
 				}

 				#detalii{
 					background-color: #fc5367;
 					color: #ffffff;
 					border-radius: 5px;
 					height: 35px;
 					outline: none;
 				}

        		img{
           			 width:300px;
            		height: 300px;
       			 }

       			 #nume{
       			 	font-weight: bold;
       			 	font-size: 20px;
       			 }

       			 #ingrediente{
       			 	font-weight: bold;
       			 	font-style: italic;
       			 }
